.logo__img {
  width: 6%;
  margin: 4vh 0 0 6%;
  position: absolute;
  z-index: 3;
  &:hover {
    filter: brightness(1.2);
  }
}
@media(max-width: 768px) {
  .logo__img {
      width: 50px;
  } 
}
@media(max-width: 425px) {
  .logo__img {
      width: 40px;
      margin: 8% 0 0 6%;
  }
}

