<div class="triforce">
  <app-page-title [class]="'title__section'" [sectionTitle]="'The Triforce'"></app-page-title>
  <p class="triforce__description">The three aspects consist of the Studio, TDC and Accounts</p>
  <section class="triforce__section">
    <p class="triforce__name">
      <span *ngIf="name"><span class="triforce__span">{{name}}</span> is</span>      
      <span *ngIf="!name"><span class="triforce__span">You</span> are</span> 
      here
    </p>
    <app-tag-triforce></app-tag-triforce>
    <app-next-step [class]="'next__btn next'" (click)="nextPage()"></app-next-step>
  </section>
</div>