<div class="fci3">
    <app-page-title class="career__title" [sectionTitle]="'Globant Values & FCI3'"></app-page-title>
    <section class="roles">
        <article>
            <img class="career__img" src="../../../../assets/character.png" alt="character">
        </article>
        <article class="role__panels">
            <div class="role__div">
                <app-panels-info [seniority] = "'Excellent in your work'" [roles] = "['FOCUS', 'COMMITTED']"></app-panels-info>
                <app-panels-info [seniority] = "'Excellent in your work'" [roles] = "['FOCUS', 'COMMITTED']"></app-panels-info>
                <app-panels-info [seniority] = "'Excellent in your work'" [roles] = "['FOCUS', 'COMMITTED']"></app-panels-info>
                <app-panels-info [seniority] = "'Excellent in your work'" [roles] = "['FOCUS', 'COMMITTED']"></app-panels-info>
            </div>
                <app-next-step [class] = "'next__btn next'" (click)="nextPage()"></app-next-step>
        </article>
    </section>
</div>
