    <div class="career">
            <app-page-title [class]="'title__section'" [sectionTitle] = "'Career Path'"></app-page-title>     
        <section class="career__roles">
            <article>
                <img class="career__img" src="../../../../assets/img/character.png" alt="character">
            </article>
            <article class="career__panels">
                <div class="career__div">
                    <app-panels-info [seniority] = "'Senior MGMT'" [roles] = "['CTO','STUDIO PARTNER','VP TECH']"></app-panels-info>
                    <app-panels-info [class]="'level__div'" [seniority] = "'Expert & MGMT'" [levels] = "['L6','L5','L4']" [roles] = "['SUBJECT MATTER EXPERT','SUBJECT MATTER EXPERT','SUBJECT MATTER EXPERT']" [roles2] = "['TECHNICAL DIRECTOR','TECHNICAL DIRECTOR','TECHNICAL DIRECTOR']"></app-panels-info>
                    <app-panels-info [class]="'level__div'" [seniority] = "'Senior'" [levels] = "['L3','L2','L1']" [roles] = "['ARCHITECT','SOFTWARE DESIGNER','SENIOR']"></app-panels-info>
                    <app-panels-info [seniority] = "'Initial and Mid level'" [roles] = "['SEMI SENIOR ADV','SEMI SENIOR','JUNIOR ADV','JUNIOR']"></app-panels-info>
                </div>
                    <app-next-step [class] = "'next__btn next'" (click)="nextPage()"></app-next-step>
            </article>
        </section>
    </div>
    
