<div class="people">
    <app-page-title [class]="'title__section'" [sectionTitle]="'UI Studio COPE'"></app-page-title>
    <p class="people__title">Key people</p>
    <section class="people__section">
        <div class="people__cards">
            <app-card
            [title]="'SP & UI STUDIO PARTNER'"
            [image]="'../../../assets/img/damian.png'"
            [name]="'Damian Lazzarano'"
            [link]="'@damian.lazzarano'"
            [email]="'https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=damian.lazzarano@globant.com'">
            </app-card>
            <app-card
            [title]="'SP & UI STUDIO PARTNER'"
            [image]="'../../../assets/img/david.png'"
            [name]="'David Correa'"
            [link]="'@david.correa'"
            [email]="'https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=david.correa@globant.com'">
            </app-card>
            <app-card
            [title]="'UI ENGINEERING PARTNER'"
            [image]="'../../../assets/img/luciana.png'"
            [name]="'Luciana Zavaleta'"
            [link]="'@luciana.zavaleta'"
            [email]="'https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=luciana.zavaleta@globant.com'">
            </app-card>
            <app-card
            [title]="'UI TDC FOCAL TECH. DIRECTOR'"
            [image]="'../../../assets/img/gabriel.png'"
            [name]="'Gabriel Martinez'"
            [link]="'@gabo'"
            [email]="'https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=gabriel.martinez@globant.com'">
            </app-card>
            <app-card
            [title]="'UI ENGINEERING TECH. MANAGER'"
            [image]="'../../../assets/img/sebastian.png'"
            [name]="'Sebastian Gómez'"
            [link]="'@s.gomez'"
            [email]="'https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=s.gomez@globant.com'">
            </app-card>
        </div>
        <app-next-step [class]="'next__btn next'" (click)="nextPage()"></app-next-step>
    </section>
</div>