<div class="triforce__tag">  
  <mat-tab-group mat-align-tabs="center" [color]="'accent'" [backgroundColor]="'primary'">
    <mat-tab label="Expertise"> 
      <img class='triforce__img' src="../../../../assets/UI_Studio.png" alt="UI Studio">
    </mat-tab>
    <mat-tab label="Sites">
      <img class='triforce__img' src="../../../../assets/cope_image.png" alt="CoPe">
    </mat-tab>
    <mat-tab label="Business">
      <img class='triforce__img' src="../../../../assets/project.png" alt="">
    </mat-tab>
  </mat-tab-group>
</div>
  