@import "../../../styles/utilities.scss";
.infoUser {
  width: 100%;
  height: 100vh;
  background-image: url("../../../../assets/img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100vh;
  .infoUser__h3 {
    .infoUser__userName {
      font-size: $bigSize;
      text-align: center;
      font-family: $mainFont;
      color: $secondColor;
      font-weight: bold;
    }
    text-align: center;
    color: white;
    font-size: 2em;
    font-weight: normal;
    padding: 17vh 7% 0 7%;
  }
  .infoUser__h1 {
    color: $thirdColor;
    text-align: center;
    margin-top: 16vh;
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .infoUser {
    .infoUser__h3 {
        .infoUser__userName {
          font-size: 25px;
        }
        font-size: 1.5em;
        padding-top: 16vh;
      }
    .infoUser__h1 {
      margin-top: 17vh;
      font-size: 30px;
    }
  }
}
@media (max-width: 425px) {
  .infoUser {
    .infoUser__h3 {
        .infoUser__userName {
          font-size: 15px;
        }
        font-size: 1em;
      }
    .infoUser__h1 {
      margin-top: 17vh;
      font-size: 18px;
    }
  }
}
