@import '../../../styles/utilities.scss';
.infoUser {
    // width: 100%;
    // height: 100vh;
    //height: 800px;
    //background-image: url("../../../../assets/background.jpg");
    //background-repeat: no-repeat;
    //background-size: cover;
    // background-size: 100% 100vh;
    width: 100%;
    height: 100vh;
    background-image: url('../../../../assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100vh;
    h3 {
        span {
            font-size: $bigSize;
            text-align: center;
            font-family: $mainFont;
            color: $secondColor;
            font-weight: bold;
        }
        text-align: center;
        color: white;
        font-size: 2em;
        font-weight: normal;
        padding-top: 15vh;
    }
    h1 {
        color: $thirdColor;
        text-align: center;
        margin-top: 18vh;
        font-size: 40px;
    }
}