<mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{seniority}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class={{class}}>
      <p *ngFor="let level of levels">{{level}}</p>
    </div>
    <div class="columns__div">
      <div class="rol__column">
        <p *ngFor="let rol of roles">{{rol}}</p>
      </div>
      <div class="rol__column">
        <p *ngFor="let rol2 of roles2">{{rol2}}</p>
      </div>
    </div>
</mat-expansion-panel>