@import '../../../styles/utilities.scss';

.title__section {
    font-family: $secondFont;
    color: $thirdColor;
    max-width: 11.2%;
    margin: 4vh 0 0 16%;
    position: absolute;
    font-size: 32px;
}
.fci3__title {
    max-width: 16%;
}
@media(max-width: 768px) {
    .title__section {
        max-width: 15%;
        font-size: 1.5em;
        margin: 4vh 0 0 15%;
    }
}
@media(max-width: 425px) {
    .title__section {
        max-width: 15%;
        font-size: 1em;
        margin: 7vh 0 0 18%;
    }
}
